@model IEnumerable<Product>

@{
    ViewBag.Title = "Home Page";
}
<main class="container" ng-app="productsViewer">
    <div ng-controller="mainProductsController">
        <div>
            @Html.ActionLink("Create Bike", "CreateProduct")
        </div>
        {{searchTerm}}
        <form name="searchUser" ng-click="searchButtonClicked()">
            <div class="form-group">
                <label>Search</label>
                <input type="text" required id="txtSearch" placeholder="Search..." ng-model="searchTerm" />
            </div>
            <input type="submit" class="btn btn-primary"  value="Search"/> 
        </form>
        <div>
            <div ng-repeat="product in products"> {{product}} </div>
        </div>
        <div class="has-error">{{error}}</div>
    </div>
</main>

@section scripts
{
    <script type="text/javascript" src="https://code.angularjs.org/1.6.8/angular.js"></script>
    <script src="~/App/MainProductsController.js"></script>
}
